
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-down-open-mini:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */