#burger {
  display: none;
}

input[type=radio] {
  display: none;
}

input[type=checkbox] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

b, p, h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

ul, li {
  font-style: normal;
  list-decoration: none;
}

ol, li {
  padding-left: 25px;
}

li {
  padding-left: 10px;
}

@keyframes pauseIconDis {
  0% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
.header .ent-form {
  width: 60%;
  display: none;
  position: absolute;
  top: 50%;
  height: 110%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
}
.header .ent-form--active {
  display: block;
  z-index: 4;
}
.header .reg-form {
  width: 60%;
  display: none;
  position: absolute;
  top: 50%;
  height: 110%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
}
.header .reg-form--active {
  display: block;
  z-index: 4;
}
.header .ent-reg-form-block {
  position: relative;
  height: 100%;
  width: 100%;
}
.header .exit-icon {
  cursor: pointer;
  color: #2A96F0;
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.header .exit-icon:hover {
  color: #fff;
}
.header .avtor-form {
  display: flex;
  flex-direction: column;
  height: 90%;
}
.header .avtor-form .avtor-form__label {
  height: 10%;
  margin-bottom: 20px;
  width: 80%;
}
.header .avtor-form .avtor-form__label .avtor-form__input {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: #222;
  padding-left: 15px;
  font-family: "PT Sans Narrow", sans-serif;
}
.header .avtor-form .avtor-form__label .avtor-form__input:focus {
  background-color: rgba(255, 255, 255, 0.85);
}
.header .avtor-form .avtor-form__butt {
  margin-top: auto;
  width: 150px;
  height: 35px;
  margin-right: auto;
  background-color: #000;
  outline: none;
  border: 2px solid #2a96f0;
  color: #2a96f0;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.header .avtor-form .avtor-form__butt:hover {
  background-color: #2a96f0;
  color: #fff;
}
.header .nav {
  display: none;
}
.header .header__logo {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  color: #fff;
  background-color: #000;
  font-family: "Molle", cursive;
}
.header .header__logo span {
  color: #2A96F0;
}
.header .trailer {
  position: relative;
  height: 55vw;
  width: 100%;
}
.header .trailer .trailer__content {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.header .trailer .trailer-bgc {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .trailer .trailer-bgc .video-tool {
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  display: none;
}
.header .trailer .trailer-bgc .video-tool.video-tool--play {
  display: block;
}
.header .trailer .trailer-bgc .video-tool.video-tool--pause {
  display: block;
  animation-name: pauseIconDis;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@media (min-width: 700px) {
  .header {
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: center;
  }
  .header .header__logo {
    display: none;
  }
  .header .nav {
    position: absolute;
    z-index: 2;
    min-width: 700px;
    max-width: 700px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .header .nav .nav__logo {
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Molle", cursive;
  }
  .header .nav .nav__logo span {
    color: #2A96F0;
  }
  .header .nav .nav__but {
    margin-left: auto;
    display: flex;
  }
  .header .nav .nav__but .nav__ent {
    color: #fff;
    font-family: "PT Sans Narrow", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2A96F0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-delay: 0.2s;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }
  .header .nav .nav__but .nav__ent:hover {
    background-color: #333;
    color: #2a96f0;
  }
  .header .trailer {
    height: 40vw;
  }
  .header .trailer .trailer-bgc {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background: linear-gradient(to top, #0C151A, rgba(0, 0, 0, 0));
  }
}
@media (min-width: 1000px) {
  .header .trailer {
    max-height: 400px;
  }
}
.footer {
  display: block;
  background-color: #151515;
}
.footer .social-nav {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.footer .social-nav .social-nav__link {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.footer .social-nav .social-nav__link .footer-link-icon {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.footer .social-nav .social-nav__link .footer-link-icon.footer-link-icon--lightblue:hover {
  color: #1C9DEB;
}
.footer .social-nav .social-nav__link .footer-link-icon.footer-link-icon--blue:hover {
  color: #4A76A8;
}
.footer .social-nav .social-nav__link .footer-link-icon.footer-link-icon--red:hover {
  color: #F1AB5D;
}
.footer .footer__tel {
  padding-top: 30px;
  display: block;
  text-align: center;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
}
.footer .copyright {
  padding-top: 30px;
  display: block;
  text-align: center;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
  padding-bottom: 30px;
}

.main .filter {
  background-color: #0C151A;
}
.main .filter .filter__button {
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
}
.main .filter .filter__button:hover {
  cursor: pointer;
  color: #2A96F0;
}
.main .filter .filter__button .button-icon {
  margin-left: auto;
}
.main .filter .filter__form {
  display: none;
}
.main .filter .filter__form.filter__form--active {
  height: auto;
  background-color: #0C151A;
  display: flex;
  flex-direction: column;
}
.main .filter .filter__form.filter__form--active .form-title {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
  display: inline-block;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 17px;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
}
.main .filter .filter__form.filter__form--active .form-title .form-item:checked ~ span {
  color: #F1CE0D;
}
.main .filter .filter__form.filter__form--active .form-title .form-reg-ent {
  background-color: #0C151A;
  height: 30px;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  outline: none;
  font-size: 16px;
  border: none;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.main .filter .filter__form.filter__form--active .datepicker {
  border: none;
  border-bottom: 2px solid #2A96F0;
  font-size: 16px;
  color: #fff;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0C151A;
  outline: none;
}
.main .filter .filter__form.filter__form--active .filter-form-button {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #0C151A;
  border: 2px solid #2A96F0;
  color: #fff;
  font-size: 17px;
  transition-property: background-color, color;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;
}
.main .filter .filter__form.filter__form--active .filter-form-button:active {
  background-color: #2A96F0;
  color: #fff;
}
.main .filter .filter__form.filter__form--active .filter-form-button:hover {
  background-color: #2A96F0;
  color: #fff;
}
.main .wall {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0C151A;
}
.main .wall .film {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}
.main .wall .film .film__img {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 90vw;
  background-color: #ccc;
  box-shadow: 0px 0px 15px 0px #2a96f0;
}
.main .wall .film .film__name {
  padding-top: 10px;
  font-size: 22px;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
}
.main .wall .film .film__ticket-link {
  margin-top: 20px;
  display: inline-block;
  width: 40vw;
  height: 40px;
  border: 2px solid #2a96f0;
  color: #2A96F0;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 36px;
  font-size: 17px;
  text-align: center;
  border-radius: 20px;
  transition-property: background-color, color;
  transition-delay: 0.2s;
  transition-timing-function: linear;
  transition-duration: 0.35s;
}
.main .wall .film .film__ticket-link:hover {
  background-color: #2a96f0;
  color: #fff;
}

@media (min-width: 700px) {
  .main {
    background-color: #0C151A;
  }
  .main .filter {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .main .filter .filter__button--small-screen {
    display: none;
  }
  .main .wall .film .film__ticket-link {
    max-width: 180px;
  }
}
@media (min-width: 800px) {
  .main .filter {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .main .filter .filter-block {
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    top: 40px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .main .filter .filter-block.filter-block--1 {
    left: 0;
  }
  .main .filter .filter-block.filter-block--2 {
    left: 25%;
  }
  .main .filter .filter-block.filter-block--3 {
    left: 50%;
  }
  .main .filter .filter-block.filter-block--4 {
    left: 75%;
  }
  .main .filter .filter-block .filter__button {
    border-left: 2px solid #2a96f0;
    border-right: 2px solid #2a96f0;
  }
  .main .filter .filter-block .filter__form {
    height: 352px;
    border-left: 2px solid #2a96f0;
    border-right: 2px solid #2a96f0;
    border-bottom: 2px solid #2a96f0;
    padding-top: 30px;
  }
  .main .filter .filter-block .filter__form .filter-form-button {
    margin-top: auto;
  }
  .main .wall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .main .wall .film {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .main .wall .film .film__img {
    height: 50vw;
  }
}
@media (min-width: 1100px) {
  .main .wall {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .main .wall .film {
    width: 33.3333%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 50px;
  }
  .main .wall .film .film__img {
    height: 45vw;
    max-height: 506px;
  }
}

/*# sourceMappingURL=index.css.map */
