#burger {
  display: none;
}

input[type=radio] {
  display: none;
}

input[type=checkbox] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

b, p, h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

ul, li {
  font-style: normal;
  list-decoration: none;
}

ol, li {
  padding-left: 25px;
}

li {
  padding-left: 10px;
}

.hidden {
  display: none;
}

.header {
  background-color: #0C151A;
  position: relative;
}
.header .header__title {
  font-family: "PT Sans Narrow", sans-serif;
  color: #2a96f0;
  font-size: 12vw;
  text-align: center;
}
.header .header__user-info {
  display: flex;
  flex-direction: column;
}
.header .header__user-info .header__user-info-item {
  font-family: "PT Sans Narrow", sans-serif;
  color: #fff;
  font-size: 6vw;
  padding-top: 6px;
  margin-bottom: 6px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid #2a96f0;
}
.header .header__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15vw;
}
.header .header__menu .header__menu-button {
  display: inline-block;
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #2a96f0;
  margin-top: 10px;
  cursor: pointer;
}
.header .header__menu .header__menu-button .header__menu-button-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 55px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #fff;
  font-size: 21px;
}
.header .header__menu .add-cash {
  position: absolute;
  top: 195px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 135px;
  width: 100%;
  background-color: #2a96f0;
  font-family: "PT Sans Narrow", sans-serif;
  color: #fff;
  font-size: 21px;
  padding: 40px 0 20px 0;
  transition-property: transform, height, padding;
  transition-duration: 0.35s;
  transition-timing-function: linear;
}
.header .header__menu .add-cash .add-cash__label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: 15px;
  width: calc(100% - 15px);
  max-width: 320px;
}
.header .header__menu .add-cash .add-cash__label .add-cash__input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  font-weight: bold;
  color: #fff;
}
.header .header__menu .add-cash .add-cash__submit {
  margin-top: 20px;
  margin-right: auto;
  margin-left: 15px;
  width: 130px;
  height: 35px;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
  font-family: "PT Sans Narrow", sans-serif;
  color: #000;
  font-size: 17px;
  transition-property: color, background-color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.header .header__menu .add-cash .add-cash__submit:hover {
  background-color: #222;
  color: #EED910;
}
.header .header__menu .add-cash.add-cash--hidden {
  padding: 0;
  height: 0;
}
.header .step {
  padding-bottom: 30px;
  border-bottom: 2px solid #fff;
}

@media (min-width: 720px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__title {
    width: 700px;
    font-size: 84px;
  }
  .header .header__user-info {
    width: 700px;
  }
  .header .header__user-info .header__user-info-item {
    font-size: 42px;
  }
  .header .header__menu {
    position: relative;
    width: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
  }
  .header .header__menu .header__menu-button {
    height: 70px;
    width: calc(33.3333% - 20px);
    transition-property: background-color, color, box-shadow;
    transition-delay: 0.1s;
    transition-timing-function: linear;
    transition-duration: 0.25s;
  }
  .header .header__menu .header__menu-button:hover {
    background-color: #222;
    box-shadow: 0px 0px 25px 3px #2a96f0;
  }
  .header .header__menu .header__menu-button:hover .header__menu-button-link {
    color: #2a96f0;
  }
  .header .header__menu .header__menu-button .header__menu-button-link {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    width: 100%;
    font-size: 24px;
    transition-property: background-color, color, box-shadow;
    transition-delay: 0.1s;
    transition-timing-function: linear;
    transition-duration: 0.25s;
  }
  .header .header__menu .add-cash {
    position: absolute;
    top: 100px;
    width: calc(100% - 20px);
    margin-top: 20px;
  }
}
.hidden {
  display: none;
}

.main {
  background-color: #0C151A;
}
.main .main__tickets-block {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.main .main__tickets-block .main__tickets-active {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #2a96f0;
  font-size: 10vw;
  text-align: left;
}
.main .main__tickets-block .main__about-tickets {
  font-family: "PT Sans Narrow", sans-serif;
  color: #ccc;
  font-size: 5vw;
  text-align: left;
}
.main .main__tickets-block .ticket {
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #2a96f0;
  border-radius: 6px;
}
.main .main__tickets-block .ticket .text-info {
  padding: 2%;
}
.main .main__tickets-block .ticket .text-info .text-info__item {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  font-size: 6vw;
}
.main .main__tickets-block .ticket .text-info .text-info__warning {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #F0900E;
  font-weight: bold;
  font-size: 6vw;
}
.main .main__tickets-block .ticket .qr-block {
  width: 65vw;
  height: 65vw;
  max-width: 230px;
  max-height: 230px;
  margin: 0 auto;
  padding: 4%;
}
.main .main__tickets-block .ticket .qr-block .qr {
  width: 100%;
  height: 100%;
  background-color: #2a96f0;
}

@media (min-width: 360px) {
  .main .main__tickets-block .ticket .text-info .text-info__item {
    font-size: 21px;
  }
  .main .main__tickets-block .ticket .text-info .text-info__warning {
    font-size: 24px;
  }
}
@media (min-width: 720px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .main__tickets-block {
    width: 720;
  }
  .main .main__tickets-block .main__tickets-active {
    font-size: 72px;
  }
  .main .main__tickets-block .main__about-tickets {
    font-size: 36px;
  }
}

/*# sourceMappingURL=user.css.map */
