//------------------------------------------------
$TeaserTextColor: #FFFFFF;
$HeaderButtonHoverColor: #ffffff;
$HeaderButtonHoverFontColor: #333;

$HeaderMenuColor: #F8F8F8;
$HeaderMenuTextColor: #242424;
$HeaderMenuTextHoverColor: #4C83C9;
$HeaderMenuButtonColor: #1C69D4;
$HeaderMenuButtonHoverColor: #1262C4;
$HeaderMenuButtonFontColor: #FFFFFF;



$MainScrollBarColor: #262626;
$MainScrollBarFontColor: #fff;
$MainScrollBarBorderColor: #fff;

$MainHeadlineFontColor: #262626;
$MainCatalogFontColor1: #F2F2F2;
$MainCatalogFontColor2: #262626;



$FooterBGC: #262626;
$FooterFontColor: #8E8E8E;
$FooterFontColorHover: #FFF;

//FONTS
$TeaserTextFont: 'Quicksand', sans-serif;
$SublineFontSize: 15px;
$HeadlineFontSize: 30px;


$MainScrollBarHeaderSize: 24px;


//------------------------------------------------

$TeaserTextFont: 'Quicksand', sans-serif; //MAIN FONT
$QuoteFont: 'Playfair Display', serif;

$HeaderFontColor: #fff;
$HeaderFontSize: 36px;

$MainFontColor: #262626;
$MainFontSize: 24px;
$MainDateFontSize: 15px;

$MainCopyrightFontColor: #8e8e8e;
$MainCopyrightFontSize: 8px;

$MainCaptionFontColor: #262626;
$MainCaptionFontSize: 13px;

$MainQuoteFontSize: 30px;
$MainQuoteFontColor: #000;
$MainQuoteAuthorFontSize: 14px;
$MainQuoteAuthorFontColor: #262626;

$MainListicleFontSize: 15px;
$MainListicleFontColor: #262626;

$MainTextStepBGC: #000;
$MainTextTitleFontSize: 24px;

$MainTextContentFontSize: 15px;

$MainThemeFontSize: 34px;

$MainHeadlineFontSize: 24px;

$MainTextLinkColor: #8e8e8e;

$MainTeaserFontSize: 24px;
$MainTeaserTextFontsize: 15px;

$MainTagFontColor: #1C69D4;
$MainTagFontSize: 18px;
$MainTagCloudDiesColor: #555;

$MainThemeDarkBGC: #F8F8F8;

//------------------------------------------------767px

$HeaderFontSizeHuge: 5.85vw;
$MainThemeFontSizeHuge: 5.85vw;
$MainHeadlineFontSizeHuge: 3.125vw;


$MainNscteaserFontSize: 24px;
