.media
{
    margin: 30px 30px;

    .media__content
    {
        width: 100%;
        padding-top: 30px;
        &.media__content--desktop657
        {
            display: none;
        }
        &.media__content--desktop
        {
            display: none;
        }
    }
    .media__copyright
    {
        font-family: $TeaserTextFont;
        font-size: $MainCopyrightFontSize;

        display: flex;

        width: 100%;
        padding-top: 5px;

        color: $MainCopyrightFontColor;

        justify-content: start;
    }

    .media__caption
    {
        font-family: $TeaserTextFont;
        font-size: $MainCaptionFontSize;
        line-height: 20px;

        display: flex;

        width: 100%;

        color: $MainCaptionFontColor;

        justify-content: start;
    }
}

@media(min-width: 657px)
{
    .media
    {
        .media__content
        {
            &.media__content--mobile
            {
                display: none;
            }
            &.media__content--desktop657
            {
                display: block;
            }
        }
    }
}

@media(min-width: 767px)
{
    .media
    {
        width: calc(100% - 100px);
        margin: 50px 50px;
        .media__content
        {
            padding-top: 30px;
            &.media__content--mobile
            {
                display: none;
            }

            &.media__content--desktop
            {
                display: block;
            }
        }
    }
}

@media(min-width: 1024px)
{
    .media
    {
        width: calc(100% - 190px);
        margin-right: 90px;
        margin-left: 100px;
    }
}

@media(min-width: 1270px)
{
    .media
    {
        width: 1080px;
        margin-right: auto;
        margin-left: auto;
    }
}
