.hight-title
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 100vh;
    .hight-title__img
    {
        width: 100%;
        height: 100%;
        &.hight-title__img--huge
        {
            display: none;
        }
    }
}

@media(min-width: 657px)
{
    .hight-title
    {
        height: 100%;
        .hight-title__img
        {
            &.hight-title__img--small
            {
                display: none;
            }
            &.hight-title__img--huge
            {
                display: block;
            }
        }
    }
}
