.header{
	.header__logo{
		height: 170px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 8vw;
		color: #fff;
		background-color: #000;
		font-family: 'Molle', cursive;
		span{
			color: #2A96F0;
		}
	}

	.header__title{
		height: 35vw;
		background-color: #000000;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 12vw;
		line-height: 35vw;
		color: #ccc;
		padding: 0 2%;
		text-align: center;
	}
}

@media(min-width: 500px){
	.header{
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		.header__logo{
			font-size: 40px;
		}

		.header__title{
			height: 175px;
			font-size: 55px;
			line-height: 175px;
		}
	}
}