.header {
    
    .header__breads {
        
    }

    .breads {
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        background-color: $mainColor;
        padding: 0 10px 0 0;

        box-shadow: 2px 0px 20px 0px rgba(0,0,0,1);
        .breads__logo {

        }

        .logo {
            font-family: $mainFont;
            color: #fff;
            height: 100%;

            .logo__img {
                object-fit: cover;
                height: 100%;
            }
        }

        .breads__go-back-link {

        }

        .go-back-link {
            font-family: $mainFont;
            color: #fff;
            font-size: 20px;
        }
    }
}