.main {
    .main__title {

    }

    .title {
        padding: 80px 0;
        .title__text {
            text-align: center;
            font-family: $mainFont;
            color: #aaa;
            font-size: 30px;
        }
    }

    .main__courses-block {

    }

    .courses-block {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .courses-block__item {

        }

        .item {
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 90%;
            margin: 30px 0;
            padding: 40px 10px 35px 10px;
            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);

            transition-property: box-shadow;
            transition-duration: 0.2s;
            transition-timing-function: linear;

            &:hover {
                box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
                .read-more {
                    font-size: 35px;
                }
            }

            .item__bg {
                position: absolute;
            }

            .item__title {
                height: 40px;
                width: 100%;
                position: absolute;
                top: -20px;
                left: 0;
                right: 0;
                margin: 0 auto;

                background-color: #01C34F;
                color: #fff;
                text-align: center;
                font-size: 16px;
                font-family: $mainFont;
                line-height: 40px;
            }

            .item__content {

            }

            .content {
                text-indent: 15px;
                font-family: $mainFont;
                color: #666;
                font-size: 16px;
            }

            .item__read-more {

            }

            .read-more {
                width: 100%;
                display: inline-block;
                text-align: center;
                margin: 10px 0;
                font-family: $mainFont;
                color: #01c34f;
                font-size: 30px;

                transition-property: font-size;
                transition-duration: 0.2s;
                transition-timing-function: linear;

                span {
                    position: absolute;
                    bottom: 10px;

                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media(min-width: 700px) {
    .main {

        .main__title {

        }

        .title {
            padding: 100px 0;
            .title__text {
                font-size: 60px;
            }
        }

        .main__courses-block {

        }

        .courses-block {

            justify-content: space-around;
            .courses-block__item {

            }

            .item {
                width: 45%;
                margin-bottom: 80px;
            }
        }
    }
}

@media(min-width: 975px) {
    .main {

        .main__courses-block {

        }

        .courses-block {
            width: 950px;
            margin: 0 auto;
            justify-content: space-around;
            .courses-block__item {

            }

            .item {
                width: 31%;
            }
        }
    }
}