@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?49133562');
  src: url('../font/fontello.eot?49133562#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?49133562') format('woff2'),
       url('../font/fontello.woff?49133562') format('woff'),
       url('../font/fontello.ttf?49133562') format('truetype'),
       url('../font/fontello.svg?49133562#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49133562#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-location-outline:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-phone-outline:before { content: '\e803'; } /* '' */
.icon-briefcase:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-article-alt:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-plus-circled-1:before { content: '\e80a'; } /* '' */
.icon-level-up:before { content: '\e80b'; } /* '' */
.icon-back:before { content: '\e80c'; } /* '' */
.icon-graduation-cap:before { content: '\e80d'; } /* '' */
.icon-graduation-cap-1:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\e80f'; } /* '' */
.icon-users-1:before { content: '\e810'; } /* '' */
.icon-th-outline:before { content: '\e811'; } /* '' */
.icon-th-large-outline:before { content: '\e812'; } /* '' */
.icon-th:before { content: '\e813'; } /* '' */
.icon-cloud-sun:before { content: '\e814'; } /* '' */
.icon-sun-inv:before { content: '\e815'; } /* '' */
.icon-sun-filled:before { content: '\e816'; } /* '' */
.icon-sun:before { content: '\e817'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e818'; } /* '' */
.icon-wallet:before { content: '\e819'; } /* '' */
.icon-money:before { content: '\e81a'; } /* '' */
.icon-users-3:before { content: '\e81b'; } /* '' */
.icon-menu-1:before { content: '\e81c'; } /* '' */
.icon-menu-2:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-down-big:before { content: '\e81f'; } /* '' */
.icon-calendar:before { content: '\e820'; } /* '' */
.icon-calendar-inv:before { content: '\e821'; } /* '' */
.icon-calendar-1:before { content: '\e822'; } /* '' */
.icon-calendar-2:before { content: '\e823'; } /* '' */
.icon-direction:before { content: '\e824'; } /* '' */
.icon-direction-outline:before { content: '\e825'; } /* '' */
.icon-list-nested:before { content: '\e826'; } /* '' */
.icon-list-numbered:before { content: '\e827'; } /* '' */
.icon-menu-3:before { content: '\f008'; } /* '' */
.icon-users-2:before { content: '\f064'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */