
.header {

	.header__mobile {
		
	}

	.desktop {
		display: none;
	}

	.mobile {
		
		position: fixed;
		z-index: 20;
		display: block;
		width: 100%;
		.mobile__nav {
			
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 55px;
			background-color: $mainColor;
			padding: 0 2% 0 0;
			box-shadow: 2px 0px 20px 0px rgba(0,0,0,1);
			.mobile__logo {
				height: 100%;
				.mobile-logo__image {
					object-fit: cover;
					height: 100%;
				}
			}

			.burger {
				cursor: pointer;
				font-size: 25px;
				color: #fff;
			}
		}

		.mobile__menu {
			
		}

		.menu {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;

			justify-content: center;

			background-color: #333333;
			padding: 20px 10px;
			align-items: center;
			z-index: 10;

			.menu__back {
				cursor: pointer;

				position: absolute;
				right: 10px;
				top: 10px;

				background-color: rgba(0,0,0,0);
				outline: none;
				border: none;

				.menu__back-icon {
					color: #fff;
					font-size: 26px;
				}	
			}
			
			.menu__link {
				
			}

			.link {
				font-family: $mainFont;
				color: $menuFontIndex;
				font-size: 21px;
				margin: 5px 0;

				&.link--phoneNumber {
					margin-top: 60px;
				}

				&.link--info {
					color: #fff;
					font-size: 19px;
				}
			}

			.menu__social {
				margin: 20px 0;
			}

			.social {
				
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.social__icon {
					cursor: pointer;
					padding: 0 5px;
					color: $menuFontIndex;
					font-size: 25px;
				}
			}

			transition-property: transform;
			transition-duration: 0.5s;
			transition-timing-function: ease-out;

			&.menu--closed {
				transform: translateY(-100%);
			}
		}
	}
}

@media(min-width: 600px) {
	.blured {
		filter: blur(5px);
	}
	.header {
		.header__mobile {

		}

		.mobile {

			.mobile__nav {
				padding: 20px 40px;
				height: 120px;

				background-color: rgba(0,0,0,0);
				box-shadow: none;

				.mobile__logo {
					height: 100%;
					.mobile-logo__image {
						object-fit: cover;
						height: 100%;
					}
				}

				.burger {
					color: #00a310;
				}
			}

			.menu {
				background-color: rgba(0,0,0,0.75);
				// filter: blur(5px);
			}
		}
	}
}

@media(min-width: 1030px) {
	.header {

		.headedr__mobile {

		}

		.mobile {
			display: none
		}
		
		.header__desktop {

		}	

		.desktop {
			z-index: 10;
			display: flex;
			position: fixed;
			flex-direction: row;
			width: 100%;
			height: 70px;
			background-color: $mainColor;	
			justify-content: center;
			align-items: center;
			box-shadow: 2px 0px 20px 0px rgba(0,0,0,1);
			.desktop__logo {
				padding-left: 40px;
				margin-right: auto;
				height: 100%;
				
				.header-logo__image {
					object-fit: cover;
					height: 100%;
				}
			}

			.desktop__nav {
				margin-right:auto;
			}

			.top-nav {
				
				.top-nav__ul {
					display: flex;
					justify-content: center;

					.link-block {
						padding: 7px 7px 0 7px;
						.link-block__li {
							display: inline-block;
							font-family: $mainFont;
							color: #fff;
							font-size: 20px;
							color: #fff;
							
						}


						.link-block__step {
							margin-top: 5px;		
							width: 0;
							border-bottom: 2px solid #fff;
							transition-property: width;
							transition-duration: 0.2s;
							transition-timing-function: linear;
						}

						.link-block__li:hover ~ .link-block__step {
							width: 100%;
						}	
					}

				}
			}
		}


	}
}

