.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	.main__tagline {

	}	

	.tagline {
		margin-top: 50px;
		position: relative;
		width: 100%;

		height: calc(100vh - 50px);
		.tagline__bgc {
			position: absolute;
			z-index: 1;
			background-color: rgba(0,10,0, 0.4);
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}

		.tagline__img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}	

		.tagline__text {
			position: absolute;
			z-index: 2;
			top: 60%;
			left: 10px;

			font-family: $mainFont;
			color: #fff;
			font-size: 40px;
			font-weight: bold;
		}
	}
	

	.main__aboutUs {

	}

	.aboutUs {
		max-width: 600px;
		display: flex;
		flex-direction: column;

		.main__main-title {
			margin-top: 70px;
			margin-bottom: 70px;
		}

		.main-title {
			text-align: center;
			padding: 10px;
			font-family: $mainFont;
			font-size: 40px;
			color: $mainColor;

			max-width: 600px;
		}

		.about-comp {
			text-indent: 20px;
			text-align:left ;
			width: 100%;
			font-family: $mainFont;
			color: #232323;
			font-size: 25px;
			padding: 10px;
			margin-bottom: 40px;
			font-weight: bold;
		}

		.main__item {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		.item {
			
			padding: 10px;
			background-color: #333333;
			width: 100%;
			max-width: 450px;
			// height: 250px;

			.item__title {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.title {
				font-family: $mainFont;
				color: $menuFontIndex;
				font-size: 25px;
				font-weight: bold;
			}

			.item__list {
				margin-bottom: 20px;
			}

			.list {

				.list__item {
					padding: 2px 0;
					font-family: $mainFont;
					color: #fff;
					font-size: 20px;
				}
			}

			&:nth-child(2n+1) {
				margin-right: auto;
				text-align: left;
				border-radius: 0 85px 85px 0;

				.list {
					padding-left: 10px;
				}
			}

			&:nth-child(2n) {
				margin-left: auto;
				text-align: right;
				border-radius: 85px 0 0 85px;

				.list {
					padding-right: 10px;
				}	
			}
		}
	}
}

@media(min-width: 600px) {
	.main {
		.main__tagline {
			margin-top: 0;
		}

		.tagline {
			height: 100vh;
			max-height: 550px;	
		}
		.main__aboutUs {

		}

		.aboutUs {


			.main__main-title {

			}

			.main-title {

			}

			.main__item {

			}

			.item {
				text-align: center;
				&:nth-child(2n) {
					
					border-radius: 90px;
				}

				&:nth-child(2n+1) {
					
					border-radius: 90px;
				}

				.item__title {

				}

				.title {
					text-align: center;
				}

				.item__list {

				}

				.list {
					text-align: center;
					.list__item {

					}
				}
			}
		}
	}
}

@media(min-width: 940px) {
	.main {
		
		width: 100%;

		.main__tagline {

		}

		.tagline {
		
			
		}
		.main__aboutUs {

		}

		.aboutUs {

			max-width: none;
			width: 100%;
			padding: 0 40px;

			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			.main__main-title {

			}

			.main-title {
				width: 100%;
				max-width: none;
				margin-top: 110px;
				margin-bottom: 110px;
			}

			.main__item {

			}

			.item {

				// &:hover {
				// 	filter: blur(5spx);
				// }
				
				&:nth-child(2n+1) {
					margin: 30px auto;
				}

				&:nth-child(2n) {
					margin: 30px auto;
				}
				.item__title {

				}

				.title {
					text-align: center;
				}

				.item__list {

				}

				.list {
					text-align: center;
					.list__item {

					}
				}
			}
		}
	}
}

@media(min-width: 1030px) {
	.main {
		.tagline {
			margin-top: 70px;
			height: calc(100vh - 70px);

			.tagline__text {
				padding-left: 70px;
				font-size: 55px;
			}
		}
	}
}