.copyright-label
{
    font-family: $TeaserTextFont;
    font-size: 14px;
    line-height: 22px;

    display: inline-block;

    width: 100%;
    margin-top: 60px;
    padding-bottom: 15px;

    text-align: center;

    color: #fff;
}

@media(min-width:1024px){
	.copyright-label{
		text-align: left;
	}
}

@media(min-width:1270px){
    .copyright-label{
        text-align: left;
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }
}
