.footer
{
    padding-top: 45px;
    padding-bottom: 45px;

    background-color: $FooterBGC;
}

@media(min-width:1024px){
	.footer{
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		padding-left: 100px;
		padding-right: 90px;
		.footer__block{
			width: 100%;
		}
	}
}

@media(min-width:1270px){
	.footer{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 100px;
		padding-right: 90px;
		.footer__block{
			width: 100%;
		}
	}
}

