body {
	background-color: #0C151A;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 5;
	display: none;
}

.bg--active {
	display: block;
}

.header{
	background-color: #0C151A;
	position: relative;
	.line {
		width: 100%;
		max-width: 660px;
		border-top: 2px solid #fff;
	}
	.header__title{
		font-family: 'PT Sans Narrow', sans-serif;
		color: #2a96f0;
		font-size: 12vw;
		text-align: center;
	}
	.header__user-info{
		display: flex;
		flex-direction: column;
		max-width: 700px;
		padding-bottom: 20px;
		.header__user-info-item{
			font-family: 'PT Sans Narrow', sans-serif;
			color: #fff;
			font-size: 6vw;
			padding-top: 6px;
			margin-bottom: 6px;
			margin-left: 20px;
			margin-right: 20px;
			border-bottom: 2px solid #2a96f0;
		}
	}

	.header__menu-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		padding: 0 20px 20px 20px;
		width: 100%;
		max-width: 700px;
		
		
		.menu-button {
			border: none;
			outline: none;
			color: #fff;
			font-family: 'PT Sans Narrow', sans-serif;
			font-size: 17px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: #2A96F0;
			margin-left: 5px;
			margin-right: 5px;
			margin-top: 10px;	
			border-radius: 40px;
			cursor: pointer;
			transition-property: background-color, color;
			transition-delay: 0;
			transition-duration: 0.35s;
			transition-timing-function: linear;
			&:hover{
				background-color: #333;
				// color: #2a96f0;
			}
		}
	}
	
	.admin-form {
		display: none;
		width: 80%;
		height: auto;
		max-width: 600px;
		// max-height: 500px;

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		margin-top: 5%;

		// display: flex;
		background-color: #eee;
		flex-direction: column;

		border-radius: 6px;
		box-shadow: 0px 0px 25px 3px rgba(42,150,240,1);
		z-index: 10;
		background-color: #333;
		padding: 15px;
		
		overflow: scroll;

		&::-webkit-scrollbar {
			width: 0px;
			height: 0px;
		}

		.admin-form__label {
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 15px;
			font-family: 'PT Sans Narrow', sans-serif;
			font-size: 20px;
			color: #2a96f0; 
		}

		.admin-form__input {
			outline: none;
			background-color: rgba(0,0,0,.0);
			border: none;
			border-bottom: 1px solid #2a96f0;
			width: 60%;
			color: #fefefe;
			font-family: 'PT Sans Narrow', sans-serif;
			font-size: 17px;
		}

		.error-input {
			border-bottom: 2px solid red;
		}

		.admin-form__submit {
			width: 170px;
			border: none;
			outline: none;
			color: #fff;
			font-family: 'PT Sans Narrow', sans-serif;
			font-size: 17px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 12px;
			padding-bottom: 12px;
			background-color: #2A96F0;
			margin-left: 5px;
			margin-right: 5px;
			margin-top: 20px;	
			border-radius: 40px;
			cursor: pointer;
			transition-property: background-color, color, box-shadow;
			transition-delay: 0.2s;
			transition-duration: 0.4s;
			transition-timing-function: linear;
			&:hover{
				background-color: #000;
				box-shadow: 0px 0px 25px 3px rgba(0,0,0,1);
				// color: #2a96f0;
			}
		}


		.admin-form__go-back {
			cursor: pointer;
			margin-top: 20px;
			margin-right: 15px;
			float: right;
			height: 46px;
			width: 46px;
			background-color: #2a96f0;
			color: #fefefe;
			font-size: 20px;
			line-height: 46px;
			text-align: center;
			border-radius: 23px;
			transition-delay: 0.2s;
			transition-duration: 0.4s;
			transition-timing-function: linear;
			&:hover{
				background-color: #000;
				box-shadow: 0px 0px 25px 3px rgba(0,0,0,1);
				// color: #2a96f0;
			}
		}

		.json-resp {
			display: flex;
			flex-direction: column;
			margin: 25px 0 15px 0;
			padding: 10px 0;
			height: auto;
			overflow: scroll;
			&::-webkit-scrollbar {
				width: 0px;
				height: 0px;
			}
			.json-resp__text {
				display: inline-block;
				font-family: 'PT Sans Narrow', sans-serif;
				color: #E6BE18;
				font-size: 18px;
				font-weight: bold;
				padding: 10px;	 
			}

			.json-resp__film {
				display: inline-block;
				font-family: 'PT Sans Narrow', sans-serif;
				color: #2a96f0;
				font-size: 17px;
				padding: 10px;	
				cursor: pointer;
				&:hover {
					color: #fff;
					font-weight: bold;	
				}
			}

		}

	}
	.admin-form--active {
		display: flex;
	}

	.step{
		padding-bottom: 30px;
		border-bottom: 2px solid #fff;
	}
}

@media(min-width: 500px){
	.header{
		.header__title{
			font-size: 60px;
		}

		.header__user-info{
			.header__user-info-item{
				font-size: 25px;
			}
		}

		.header__menu{
			.header__menu-button{
				.header__menu-button-link{
					font-size: 27.5px;
				}
			}
		}
	}
}


@media(min-width: 700px){
	.header{
		display: flex;
		flex-direction: column;
		align-items: center;
		.header__title{
			width: 700px;
		}
		
		.header__user-info{
			width: 700px;
		}

		.header__menu{
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 100px;
			.header__menu-button{
				height: 90px;
				width: calc(33.3333% - 50px);
				margin-top: 25px;
				transition-property: background-color, color, box-shadow;
				transition-delay: 0.1s;
				transition-timing-function: linear;
				transition-duration: 0.25s;
				&:hover{
					background-color: #222;
					box-shadow: 0px 0px 25px 3px rgba(42,150,240,1);
					.header__menu-button-link{
						color: #2a96f0;
					}
				}
				.header__menu-button-link{
					transition-property: background-color, color, box-shadow;
					transition-delay: 0.1s;
					transition-timing-function: linear;
					transition-duration: 0.25s; 
				}
			}
		}
	}
}